<ul class="nav nav-pills nav-stacked">
  <li <%= 'class=active' if params[:controller] == 'admin/moment_records' %>>
    <%= link_to "Moment Records(#{@user.moment_records.count})", admin_user_moment_records_path(@user) %>
  </li>
</ul>