<div class="footer">
  <% if logged_in? %>
    <div style="float:right">
      <%= link_to 'Sign Out', logout_path, :method => :delete, :class => 'logout_btn' %>
    </div>
  <% end %>

  <p><a href="i-s-o-p-t.com" target="_blank"><i>In Search of Personalized Time</i></a>, a project by <a href="http://taeyoonchoi.com" target="_blank">Taeyoon Choi</a> &amp; <a href="http://eroonkang.com" target="_blank">E Roon Kang</a>.<br>
  2014–2015, Art + Technology Project, <a href="http://www.lacma.org/LAB" target="_blank">Los Angeles County Museum of Art</a></p>
  <div style="clear:both"></div>
</div>